body {
  margin: 0;
  padding: 0 clamp(2vw, 5vw, 10vw);
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  overflow-x: clip;
  background: rgb(235,235,235);
  background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(219,224,230,1) 100%);
}

.main-container {
  max-width: 1160px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 1rem;
}

.logo img {
  width: 5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 1.875rem;
}

.nav-btn {
  padding: 0.5rem 0.875rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), url("/images/hero.jpg");
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 12rem 0 0 0;
}

.hero p {
  font-size: 1.25rem;
  margin: 1rem 0 5rem 0;
}

.hero a {
  text-decoration: none;
  color: white;
  font-size: 1.375rem;
  background-color: #E99E20;
  padding: 1rem 2.25rem;
  border-radius: 50px;
}

#trust-building {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 675px auto 0 auto;
  text-align: center;
}

.trust-card {
  background-color: white;
  width: 17.188rem;
  height: 7.813rem;
  border-radius: 23px;
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
}

.trust-card h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1.5rem 0 0.5rem 0;
}

.trust-card p {
  font-size: 1.25rem;
  margin: 0;
}

#featured h2 {
  color: rgb(22, 22, 22);
  font-size: 3rem;
  font-weight: 500;
  margin-top: 4.688rem;
}

.featured-grid {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 20px;
  margin-bottom: 20px;
}

.featured-grid-reversed {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 20px;
}

.destination {
  display: flex;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
  color: white;
  text-align: left;
  flex-direction: column;
  justify-content: flex-end;
}

.destination-text {
  margin: 1.25rem 1.25rem;
}

.destination-text h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.destination-text p {
  margin: 0;
  font-size: 1rem;
  margin-top: 0.3125rem;
  opacity: 90%;
}

.featured-grid .destination:nth-child(1) {
  background-image: linear-gradient(0deg, #01010180, #331C0200), url("/images/temple.jpg");
}

.featured-grid .destination:nth-child(2) {
  background-image: linear-gradient(0deg, #01010180, #331C0200), url("/images/fuji.jpg");
}

.featured-grid-reversed .destination:nth-child(1) {
  background-image: linear-gradient(0deg, #01010180, #331C0200), url("/images/mountains.jpg");
}

.featured-grid-reversed .destination:nth-child(2) {
  background-image: linear-gradient(0deg, #01010180, #331C0200), url("/images/lake-house.jpg");
}

#how-it-works h2 {
  color: rgb(22, 22, 22);
  font-size: 3rem;
  font-weight: 500;
  margin-top: 4.688rem;
}

.how-it-works-container {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 100px;
  margin-bottom: 10rem;
}

.how-it-works-img {
  background-image: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%), url("/images/person.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 13px;
  height: 600px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-card {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100px;
  border-radius: 14px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 1.25rem;
  box-sizing: border-box;
}

.step-img img {
  width: 4rem;
  height: 4rem;
  color: #25313C;
}

.step-text {
  text-align: left;
  color: #25313C;
}

.step-text h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.step-text p {
  margin: 0;
  font-size: 1rem;
}